#contact.contact
  .container
    %h3.title Contact Me
    .agileits_agile_about_mail
      = form_tag send_an_email_home_index_path, method: :post do
        .col-md-6.about_mail_left
          = text_field_tag :name, '', placeholder: "Name"
          = email_field_tag :email, '', placeholder: "Email"
          = text_field_tag :phone, '', placeholder: "Phone"
        .col-md-6.about_mail_right
          = text_area_tag :message, '', placeholder: "Message..."
        .clearfix
        .col-md-12
          = submit_tag "Submit", class: 'pull-right'
