#home.banner
  .banner-info
    .container
      .col-md-4.header-left
        = image_tag('ppic.jpg')
      .col-md-8.header-right
        %h2 Hello
        %h1 I'm Narendra Garikapati
        %h6 Ruby on Rails Developer
        %ul.address
          
          %li
            %ul.address-text
              %li
                %b PHONE
              %li +91 9177761525
          %li
            %ul.address-text
              %li
                %b ADDRESS
              %li Ameerpet, Hyderabad, Telangana, IN 500073.
          %li
            %ul.address-text
              %li
                %b E-MAIL
              %li
                %a{:href => "mailto:narendra99899@gmail.com"} narendra99899@gmail.com
          %li
            %ul.address-text
              %li
                %b WEBSITE
              %li
                %a{:href => "/"} www.narendragarikapati.com
      .clearfix

.top-nav.wow
  .container
    .navbar-header.logo
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        Menu
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .menu
        %ul.nav.navbar
          %li
            %a.scroll{:href => "#about"} About
          %li
            %a.scroll{:href => "#work"} Experience
          %li
            %a.scroll{:href => "#education"} Education
          %li
            %a.scroll{:href => "#skills"} Skills
          %li
            %a.scroll{:href => "#projects"} My Projects
          %li
            %a.scroll{:href => "#details"} Contact
          %li
            %a.scroll{:href => "#details"} Web
        .clearfix
= render 'about'
= render 'work'
= render 'education'
= render 'skills'
= render 'projects'
=# render 'contact'
#details.details
  .container
    .data
      .col-md-4.col-xs-12.col-sm-4.details_grid
        .details_grid_leftl
          %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
        .details_grid_leftr
          %h4 Location
          %p Ameerpet, Hyderabad, Telangana, IN 500073
        .clearfix
      .col-md-4.col-xs-12.col-sm-4.details_grid
        .details_grid_leftl
          %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
        .details_grid_leftr
          %h4 Email
          %a{:href => "mailto:narendra99899@gmail.com"} narendra99899@gmail.com
        .clearfix
      .col-md-4.col-xs-12.col-sm-4.details_grid
        .details_grid_leftl
          %span.glyphicon.glyphicon-phone{"aria-hidden" => "true"}
        .details_grid_leftr
          %h4 Call Me
          %p (+91) 9177761525
        .clearfix
      .col-md-12.col-xs-12.details_grid
        .details_grid_leftr
          %h4 Around the Web
          %ul.list-inline.mt-m-10
            %li
              %a.btn-social.btn-outline{:href => "https://github.com/narru033", :target=>"_blank"}
                %span.sr-only GitHub
                %i.fa.fa-github
            %li
              %a.btn-social.btn-outline{:href => "https://www.linkedin.com/in/narendra-garikapati-55834064/", :target=>"_blank"}
                %span.sr-only Linked In
                %i.fa.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "https://twitter.com/narru033", :target=>"_blank"}
                %span.sr-only Twitter
                %i.fa.fa-twitter
        .clearfix
      .clearfix
.footer
  .container
    %p
      © 2017 Narendra Garikapati. All rights reserved

:javascript
  $(document).ready(function() {
  
    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear' 
    };
    
    $().UItoTop({ easingType: 'easeOutQuart' });
    
  });

/ Bootstrap core JavaScript
= javascript_include_tag 'bootstrap.js'


